<h1>FOODS</h1>

   <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            <strong class="gruk">{{ form.as_p }}</strong>
            
       
        
        
            <button class="btn buttoon rounded-pill">Sign Up</button><br>


            </p>
  
        </form>
        <div>
            <h3>
                {% for message in messages %}
                {{messages}}
                {% endfor %}
            </h3>
        </div>
        
        </div>